// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.md-editor {
  $radius: 4px;
  border: 1px solid #ccc;
  border-radius: $radius;

  .md-header {
    border-top-left-radius: $radius;
    border-top-right-radius: $radius;
  }
  .md-input {
    padding: 6px 12px;
    border-bottom: none;
    border-bottom-left-radius: $radius;
    border-bottom-right-radius: $radius;
  }
}
